<section class="content">
		<article class="career">
			<h2>My career</h2>
			<ul class="ro-timeline">
				<li>
					<div class="ro-time"><span>2012 - 2013</span></div>
					<div class="ro-icon icon-briefcase"></div>
					<div class="ro-label">
						<h3>Frontend Developer<span>Example Inc.</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed. Consequatur, earum, sunt a tenetur.</p>
					</div>
				</li>
				<li>
					<div class="ro-time"><span>2012</span></div>
					<div class="ro-icon icon-briefcase"></div>
					<div class="ro-label">
						<h3>Javascript Ninja<span>Google Inc.</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, officia, recusandae quam laudantium eos et laboriosam aut vel ipsam commodi voluptatem sit repellendus blanditiis nobis eius!</p>
					</div>
				</li>
				<li>
					<div class="ro-time"><span>2010 - 2011</span></div>
					<div class="ro-icon icon-briefcase"></div>
					<div class="ro-label">
						<h3>Junior Frontend Developer<span>Facebook Inc.</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, officia, recusandae quam laudantium eos et laboriosam aut vel ipsam commodi voluptatem sit repellendus blanditiis nobis eius!</p>
					</div>
				</li>
			</ul>

			<h2>My education</h2>
			<ul class="ro-timeline">
				<li>
					<div class="ro-time"><span>2009 - 2010</span></div>
					<div class="ro-icon icon-graduation"></div>
					<div class="ro-label">
						<h3>Computer Science Master<span>CalTech</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut obcaecati nemo id voluptates tempore facilis fuga deserunt eius voluptate possimus rerum accusantium alias autem.</p>
					</div>
				</li>
				<li>
					<div class="ro-time"><span>2005 - 2009</span></div>
					<div class="ro-icon icon-graduation"></div>
					<div class="ro-label">
						<h3>Computer Science B.Sc.<span>Harvard University</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quod nam odio quasi cumque quis vel sunt dolore. Ea, iste, consectetur fugiat voluptatibus nulla voluptatem laborum reprehenderit sunt quia inventore sed illo ipsum quae architecto labore temporibus minus. Error, consequatur, dolorem?</p>
					</div>
				</li>
			</ul>

		</article>
		<!-- Timeline End -->

		<aside class="sidebar">
			<h2>My skills</h2>
			<h3 class="test"><span class="icon-text-2"></span>Programming</h3>
			<ul class="ratings">
				<li>
					<h5>HTML</h5>
					<div class="rating" data-rating="7">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
				<li>
					<h5>CSS</h5>
					<div class="rating" data-rating="8">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
				<li>
					<h5>JavaScript</h5>
					<div class="rating" data-rating="8">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
				<li>
					<h5>PHP</h5>
					<div class="rating" data-rating="6">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
				<li>
					<h5>iOS</h5>
					<div class="rating" data-rating="6">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
				<li>
					<h5>Ruby on Rails</h5>
					<div class="rating" data-rating="8">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
			</ul>

			<h3 class="test"><span class="icon-brush"></span>Graphic Design</h3>
			<ul class="skills">
				<li><span data-skill="90">Photoshop</span></li>
				<li><span data-skill="80">Illustrator</span></li>
				<li><span data-skill="85">InDesign</span></li>
				<li><span data-skill="90">Firework</span></li>
				<li><span data-skill="85">After Effects</span></li>
				<li><span data-skill="100">Cinema 4D</span></li>
			</ul>

			<h3 class="test"><span class="icon-tools"></span>Other skills</h3>
			<ul class="skills">
				<li><span data-skill="92">Web Design</span></li>
				<li><span data-skill="96">Web Development</span></li>
				<li><span data-skill="84">Logo Branding</span></li>
				<li><span data-skill="85">WordPress</span></li>
				<li><span data-skill="81">Graphic Design</span></li>
			</ul>
		</aside>
		<!-- Sidebar End -->

	</section>
	<!-- Content End -->

</div>
<!-- Container End -->