/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo.eot');
	src:url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo.woff') format('woff'),
		url('../fonts/entypo.ttf') format('truetype'),
		url('../fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-phone, .icon-mobile, .icon-mouse, .icon-directions, .icon-mail, .icon-paperplane, .icon-pencil, .icon-feather, .icon-paperclip, .icon-drawer, .icon-reply, .icon-reply-all, .icon-forward, .icon-user, .icon-users, .icon-user-add, .icon-vcard, .icon-export, .icon-location, .icon-map, .icon-compass, .icon-location-2, .icon-target, .icon-share, .icon-sharable, .icon-heart, .icon-heart-2, .icon-star, .icon-star-2, .icon-thumbs-up, .icon-thumbs-down, .icon-chat, .icon-comment, .icon-quote, .icon-house, .icon-popup, .icon-search, .icon-flashlight, .icon-printer, .icon-bell, .icon-link, .icon-flag, .icon-cog, .icon-tools, .icon-trophy, .icon-tag, .icon-camera, .icon-megaphone, .icon-moon, .icon-palette, .icon-leaf, .icon-music, .icon-music-2, .icon-new, .icon-graduation, .icon-book, .icon-newspaper, .icon-bag, .icon-airplane, .icon-lifebuoy, .icon-eye, .icon-clock, .icon-microphone, .icon-calendar, .icon-bolt, .icon-thunder, .icon-droplet, .icon-cd, .icon-briefcase, .icon-air, .icon-hourglass, .icon-gauge, .icon-language, .icon-network, .icon-key, .icon-battery, .icon-bucket, .icon-magnet, .icon-drive, .icon-cup, .icon-rocket, .icon-brush, .icon-suitcase, .icon-cone, .icon-earth, .icon-keyboard, .icon-browser, .icon-publish, .icon-progress-3, .icon-progress-2, .icon-brogress-1, .icon-progress-0, .icon-sun, .icon-sun-2, .icon-adjust, .icon-code, .icon-screen, .icon-infinity, .icon-light-bulb, .icon-credit-card, .icon-database, .icon-voicemail, .icon-clipboard, .icon-cart, .icon-box, .icon-ticket, .icon-rss, .icon-signal, .icon-thermometer, .icon-droplets, .icon-untitled, .icon-statistics, .icon-pie, .icon-bars, .icon-graph, .icon-lock, .icon-lock-open, .icon-logout, .icon-login, .icon-checkmark, .icon-cross, .icon-minus, .icon-plus, .icon-cross-2, .icon-minus-2, .icon-plus-2, .icon-cross-3, .icon-minus-3, .icon-plus-3, .icon-erase, .icon-blocked, .icon-info, .icon-info-2, .icon-question, .icon-help, .icon-warning, .icon-cycle, .icon-cw, .icon-ccw, .icon-shuffle, .icon-arrow, .icon-arrow-2, .icon-retweet, .icon-loop, .icon-history, .icon-back, .icon-switch, .icon-list, .icon-add-to-list, .icon-layout, .icon-list-2, .icon-text, .icon-text-2, .icon-document, .icon-docs, .icon-landscape, .icon-pictures, .icon-video, .icon-music-3, .icon-folder, .icon-archive, .icon-trash, .icon-upload, .icon-download, .icon-disk, .icon-install, .icon-cloud, .icon-upload-2, .icon-bookmark, .icon-bookmarks, .icon-book-2, .icon-play, .icon-pause, .icon-record, .icon-stop, .icon-next, .icon-previous, .icon-first, .icon-last, .icon-resize-enlarge, .icon-resize-shrink, .icon-volume, .icon-sound, .icon-mute, .icon-flow-cascade, .icon-flow-branch, .icon-flow-tree, .icon-flow-line, .icon-flow-parallel, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up--upload, .icon-arrow-right, .icon-arrow-left-2, .icon-arrow-down-2, .icon-arrow-up, .icon-arrow-right-2, .icon-arrow-left-3, .icon-arrow-down-3, .icon-arrow-up-2, .icon-arrow-right-3, .icon-arrow-left-4, .icon-arrow-down-4, .icon-arrow-up-3, .icon-arrow-right-4, .icon-arrow-left-5, .icon-arrow-down-5, .icon-arrow-up-4, .icon-arrow-right-5, .icon-arrow-left-6, .icon-arrow-down-6, .icon-arrow-up-5, .icon-arrow-right-6, .icon-arrow-left-7, .icon-arrow-down-7, .icon-arrow-up-6, .icon-untitled-2, .icon-arrow-left-8, .icon-arrow-down-8, .icon-arrow-up-7, .icon-arrow-right-7, .icon-menu, .icon-ellipsis, .icon-dots, .icon-dot, .icon-cc, .icon-cc-by, .icon-cc-nc, .icon-cc-nc-eu, .icon-cc-nc-jp, .icon-cc-sa, .icon-cc-nd, .icon-cc-pd, .icon-cc-zero, .icon-cc-share, .icon-cc-share-2, .icon-daniel-bruce, .icon-daniel-bruce-2, .icon-github, .icon-github-2, .icon-flickr, .icon-flickr-2, .icon-vimeo, .icon-vimeo-2, .icon-twitter, .icon-twitter-2, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-googleplus, .icon-googleplus-2, .icon-pinterest, .icon-pinterest-2, .icon-tumblr, .icon-tumblr-2, .icon-linkedin, .icon-linkedin-2, .icon-dribbble, .icon-dribbble-2, .icon-stumbleupon, .icon-stumbleupon-2, .icon-lastfm, .icon-lastfm-2, .icon-rdio, .icon-rdio-2, .icon-spotify, .icon-spotify-2, .icon-qq, .icon-instagram, .icon-dropbox, .icon-evernote, .icon-flattr, .icon-skype, .icon-skype-2, .icon-renren, .icon-sina-weibo, .icon-paypal, .icon-picasa, .icon-soundcloud, .icon-mixi, .icon-behance, .icon-circles, .icon-vk, .icon-smashing {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-phone:before {
	content: "\e000";
}
.icon-mobile:before {
	content: "\e001";
}
.icon-mouse:before {
	content: "\e002";
}
.icon-directions:before {
	content: "\e003";
}
.icon-mail:before {
	content: "\e004";
}
.icon-paperplane:before {
	content: "\e005";
}
.icon-pencil:before {
	content: "\e006";
}
.icon-feather:before {
	content: "\e007";
}
.icon-paperclip:before {
	content: "\e008";
}
.icon-drawer:before {
	content: "\e009";
}
.icon-reply:before {
	content: "\e00a";
}
.icon-reply-all:before {
	content: "\e00b";
}
.icon-forward:before {
	content: "\e00c";
}
.icon-user:before {
	content: "\e00d";
}
.icon-users:before {
	content: "\e00e";
}
.icon-user-add:before {
	content: "\e00f";
}
.icon-vcard:before {
	content: "\e010";
}
.icon-export:before {
	content: "\e011";
}
.icon-location:before {
	content: "\e012";
}
.icon-map:before {
	content: "\e013";
}
.icon-compass:before {
	content: "\e014";
}
.icon-location-2:before {
	content: "\e015";
}
.icon-target:before {
	content: "\e016";
}
.icon-share:before {
	content: "\e017";
}
.icon-sharable:before {
	content: "\e018";
}
.icon-heart:before {
	content: "\e019";
}
.icon-heart-2:before {
	content: "\e01a";
}
.icon-star:before {
	content: "\e01b";
}
.icon-star-2:before {
	content: "\e01c";
}
.icon-thumbs-up:before {
	content: "\e01d";
}
.icon-thumbs-down:before {
	content: "\e01e";
}
.icon-chat:before {
	content: "\e01f";
}
.icon-comment:before {
	content: "\e020";
}
.icon-quote:before {
	content: "\e021";
}
.icon-house:before {
	content: "\e022";
}
.icon-popup:before {
	content: "\e023";
}
.icon-search:before {
	content: "\e024";
}
.icon-flashlight:before {
	content: "\e025";
}
.icon-printer:before {
	content: "\e026";
}
.icon-bell:before {
	content: "\e027";
}
.icon-link:before {
	content: "\e028";
}
.icon-flag:before {
	content: "\e029";
}
.icon-cog:before {
	content: "\e02a";
}
.icon-tools:before {
	content: "\e02b";
}
.icon-trophy:before {
	content: "\e02c";
}
.icon-tag:before {
	content: "\e02d";
}
.icon-camera:before {
	content: "\e02e";
}
.icon-megaphone:before {
	content: "\e02f";
}
.icon-moon:before {
	content: "\e030";
}
.icon-palette:before {
	content: "\e031";
}
.icon-leaf:before {
	content: "\e032";
}
.icon-music:before {
	content: "\e033";
}
.icon-music-2:before {
	content: "\e034";
}
.icon-new:before {
	content: "\e035";
}
.icon-graduation:before {
	content: "\e036";
}
.icon-book:before {
	content: "\e037";
}
.icon-newspaper:before {
	content: "\e038";
}
.icon-bag:before {
	content: "\e039";
}
.icon-airplane:before {
	content: "\e03a";
}
.icon-lifebuoy:before {
	content: "\e03b";
}
.icon-eye:before {
	content: "\e03c";
}
.icon-clock:before {
	content: "\e03d";
}
.icon-microphone:before {
	content: "\e03e";
}
.icon-calendar:before {
	content: "\e03f";
}
.icon-bolt:before {
	content: "\e040";
}
.icon-thunder:before {
	content: "\e041";
}
.icon-droplet:before {
	content: "\e042";
}
.icon-cd:before {
	content: "\e043";
}
.icon-briefcase:before {
	content: "\e044";
}
.icon-air:before {
	content: "\e045";
}
.icon-hourglass:before {
	content: "\e046";
}
.icon-gauge:before {
	content: "\e047";
}
.icon-language:before {
	content: "\e048";
}
.icon-network:before {
	content: "\e049";
}
.icon-key:before {
	content: "\e04a";
}
.icon-battery:before {
	content: "\e04b";
}
.icon-bucket:before {
	content: "\e04c";
}
.icon-magnet:before {
	content: "\e04d";
}
.icon-drive:before {
	content: "\e04e";
}
.icon-cup:before {
	content: "\e04f";
}
.icon-rocket:before {
	content: "\e050";
}
.icon-brush:before {
	content: "\e051";
}
.icon-suitcase:before {
	content: "\e052";
}
.icon-cone:before {
	content: "\e053";
}
.icon-earth:before {
	content: "\e054";
}
.icon-keyboard:before {
	content: "\e055";
}
.icon-browser:before {
	content: "\e056";
}
.icon-publish:before {
	content: "\e057";
}
.icon-progress-3:before {
	content: "\e058";
}
.icon-progress-2:before {
	content: "\e059";
}
.icon-brogress-1:before {
	content: "\e05a";
}
.icon-progress-0:before {
	content: "\e05b";
}
.icon-sun:before {
	content: "\e05c";
}
.icon-sun-2:before {
	content: "\e05d";
}
.icon-adjust:before {
	content: "\e05e";
}
.icon-code:before {
	content: "\e05f";
}
.icon-screen:before {
	content: "\e060";
}
.icon-infinity:before {
	content: "\e061";
}
.icon-light-bulb:before {
	content: "\e062";
}
.icon-credit-card:before {
	content: "\e063";
}
.icon-database:before {
	content: "\e064";
}
.icon-voicemail:before {
	content: "\e065";
}
.icon-clipboard:before {
	content: "\e066";
}
.icon-cart:before {
	content: "\e067";
}
.icon-box:before {
	content: "\e068";
}
.icon-ticket:before {
	content: "\e069";
}
.icon-rss:before {
	content: "\e06a";
}
.icon-signal:before {
	content: "\e06b";
}
.icon-thermometer:before {
	content: "\e06c";
}
.icon-droplets:before {
	content: "\e06d";
}
.icon-untitled:before {
	content: "\e06e";
}
.icon-statistics:before {
	content: "\e06f";
}
.icon-pie:before {
	content: "\e070";
}
.icon-bars:before {
	content: "\e071";
}
.icon-graph:before {
	content: "\e072";
}
.icon-lock:before {
	content: "\e073";
}
.icon-lock-open:before {
	content: "\e074";
}
.icon-logout:before {
	content: "\e075";
}
.icon-login:before {
	content: "\e076";
}
.icon-checkmark:before {
	content: "\e077";
}
.icon-cross:before {
	content: "\e078";
}
.icon-minus:before {
	content: "\e079";
}
.icon-plus:before {
	content: "\e07a";
}
.icon-cross-2:before {
	content: "\e07b";
}
.icon-minus-2:before {
	content: "\e07c";
}
.icon-plus-2:before {
	content: "\e07d";
}
.icon-cross-3:before {
	content: "\e07e";
}
.icon-minus-3:before {
	content: "\e07f";
}
.icon-plus-3:before {
	content: "\e080";
}
.icon-erase:before {
	content: "\e081";
}
.icon-blocked:before {
	content: "\e082";
}
.icon-info:before {
	content: "\e083";
}
.icon-info-2:before {
	content: "\e084";
}
.icon-question:before {
	content: "\e085";
}
.icon-help:before {
	content: "\e086";
}
.icon-warning:before {
	content: "\e087";
}
.icon-cycle:before {
	content: "\e088";
}
.icon-cw:before {
	content: "\e089";
}
.icon-ccw:before {
	content: "\e08a";
}
.icon-shuffle:before {
	content: "\e08b";
}
.icon-arrow:before {
	content: "\e08c";
}
.icon-arrow-2:before {
	content: "\e08d";
}
.icon-retweet:before {
	content: "\e08e";
}
.icon-loop:before {
	content: "\e08f";
}
.icon-history:before {
	content: "\e090";
}
.icon-back:before {
	content: "\e091";
}
.icon-switch:before {
	content: "\e092";
}
.icon-list:before {
	content: "\e093";
}
.icon-add-to-list:before {
	content: "\e094";
}
.icon-layout:before {
	content: "\e095";
}
.icon-list-2:before {
	content: "\e096";
}
.icon-text:before {
	content: "\e097";
}
.icon-text-2:before {
	content: "\e098";
}
.icon-document:before {
	content: "\e099";
}
.icon-docs:before {
	content: "\e09a";
}
.icon-landscape:before {
	content: "\e09b";
}
.icon-pictures:before {
	content: "\e09c";
}
.icon-video:before {
	content: "\e09d";
}
.icon-music-3:before {
	content: "\e09e";
}
.icon-folder:before {
	content: "\e09f";
}
.icon-archive:before {
	content: "\e0a0";
}
.icon-trash:before {
	content: "\e0a1";
}
.icon-upload:before {
	content: "\e0a2";
}
.icon-download:before {
	content: "\e0a3";
}
.icon-disk:before {
	content: "\e0a4";
}
.icon-install:before {
	content: "\e0a5";
}
.icon-cloud:before {
	content: "\e0a6";
}
.icon-upload-2:before {
	content: "\e0a7";
}
.icon-bookmark:before {
	content: "\e0a8";
}
.icon-bookmarks:before {
	content: "\e0a9";
}
.icon-book-2:before {
	content: "\e0aa";
}
.icon-play:before {
	content: "\e0ab";
}
.icon-pause:before {
	content: "\e0ac";
}
.icon-record:before {
	content: "\e0ad";
}
.icon-stop:before {
	content: "\e0ae";
}
.icon-next:before {
	content: "\e0af";
}
.icon-previous:before {
	content: "\e0b0";
}
.icon-first:before {
	content: "\e0b1";
}
.icon-last:before {
	content: "\e0b2";
}
.icon-resize-enlarge:before {
	content: "\e0b3";
}
.icon-resize-shrink:before {
	content: "\e0b4";
}
.icon-volume:before {
	content: "\e0b5";
}
.icon-sound:before {
	content: "\e0b6";
}
.icon-mute:before {
	content: "\e0b7";
}
.icon-flow-cascade:before {
	content: "\e0b8";
}
.icon-flow-branch:before {
	content: "\e0b9";
}
.icon-flow-tree:before {
	content: "\e0ba";
}
.icon-flow-line:before {
	content: "\e0bb";
}
.icon-flow-parallel:before {
	content: "\e0bc";
}
.icon-arrow-left:before {
	content: "\e0bd";
}
.icon-arrow-down:before {
	content: "\e0be";
}
.icon-arrow-up--upload:before {
	content: "\e0bf";
}
.icon-arrow-right:before {
	content: "\e0c0";
}
.icon-arrow-left-2:before {
	content: "\e0c1";
}
.icon-arrow-down-2:before {
	content: "\e0c2";
}
.icon-arrow-up:before {
	content: "\e0c3";
}
.icon-arrow-right-2:before {
	content: "\e0c4";
}
.icon-arrow-left-3:before {
	content: "\e0c5";
}
.icon-arrow-down-3:before {
	content: "\e0c6";
}
.icon-arrow-up-2:before {
	content: "\e0c7";
}
.icon-arrow-right-3:before {
	content: "\e0c8";
}
.icon-arrow-left-4:before {
	content: "\e0c9";
}
.icon-arrow-down-4:before {
	content: "\e0ca";
}
.icon-arrow-up-3:before {
	content: "\e0cb";
}
.icon-arrow-right-4:before {
	content: "\e0cc";
}
.icon-arrow-left-5:before {
	content: "\e0cd";
}
.icon-arrow-down-5:before {
	content: "\e0ce";
}
.icon-arrow-up-4:before {
	content: "\e0cf";
}
.icon-arrow-right-5:before {
	content: "\e0d0";
}
.icon-arrow-left-6:before {
	content: "\e0d1";
}
.icon-arrow-down-6:before {
	content: "\e0d2";
}
.icon-arrow-up-5:before {
	content: "\e0d3";
}
.icon-arrow-right-6:before {
	content: "\e0d4";
}
.icon-arrow-left-7:before {
	content: "\e0d5";
}
.icon-arrow-down-7:before {
	content: "\e0d6";
}
.icon-arrow-up-6:before {
	content: "\e0d7";
}
.icon-untitled-2:before {
	content: "\e0d8";
}
.icon-arrow-left-8:before {
	content: "\e0d9";
}
.icon-arrow-down-8:before {
	content: "\e0da";
}
.icon-arrow-up-7:before {
	content: "\e0db";
}
.icon-arrow-right-7:before {
	content: "\e0dc";
}
.icon-menu:before {
	content: "\e0dd";
}
.icon-ellipsis:before {
	content: "\e0de";
}
.icon-dots:before {
	content: "\e0df";
}
.icon-dot:before {
	content: "\e0e0";
}
.icon-cc:before {
	content: "\e0e1";
}
.icon-cc-by:before {
	content: "\e0e2";
}
.icon-cc-nc:before {
	content: "\e0e3";
}
.icon-cc-nc-eu:before {
	content: "\e0e4";
}
.icon-cc-nc-jp:before {
	content: "\e0e5";
}
.icon-cc-sa:before {
	content: "\e0e6";
}
.icon-cc-nd:before {
	content: "\e0e7";
}
.icon-cc-pd:before {
	content: "\e0e8";
}
.icon-cc-zero:before {
	content: "\e0e9";
}
.icon-cc-share:before {
	content: "\e0ea";
}
.icon-cc-share-2:before {
	content: "\e0eb";
}
.icon-daniel-bruce:before {
	content: "\e0ec";
}
.icon-daniel-bruce-2:before {
	content: "\e0ed";
}
.icon-github:before {
	content: "\e0ee";
}
.icon-github-2:before {
	content: "\e0ef";
}
.icon-flickr:before {
	content: "\e0f0";
}
.icon-flickr-2:before {
	content: "\e0f1";
}
.icon-vimeo:before {
	content: "\e0f2";
}
.icon-vimeo-2:before {
	content: "\e0f3";
}
.icon-twitter:before {
	content: "\e0f4";
}
.icon-twitter-2:before {
	content: "\e0f5";
}
.icon-facebook:before {
	content: "\e0f6";
}
.icon-facebook-2:before {
	content: "\e0f7";
}
.icon-facebook-3:before {
	content: "\e0f8";
}
.icon-googleplus:before {
	content: "\e0f9";
}
.icon-googleplus-2:before {
	content: "\e0fa";
}
.icon-pinterest:before {
	content: "\e0fb";
}
.icon-pinterest-2:before {
	content: "\e0fc";
}
.icon-tumblr:before {
	content: "\e0fd";
}
.icon-tumblr-2:before {
	content: "\e0fe";
}
.icon-linkedin:before {
	content: "\e0ff";
}
.icon-linkedin-2:before {
	content: "\e100";
}
.icon-dribbble:before {
	content: "\e101";
}
.icon-dribbble-2:before {
	content: "\e102";
}
.icon-stumbleupon:before {
	content: "\e103";
}
.icon-stumbleupon-2:before {
	content: "\e104";
}
.icon-lastfm:before {
	content: "\e105";
}
.icon-lastfm-2:before {
	content: "\e106";
}
.icon-rdio:before {
	content: "\e107";
}
.icon-rdio-2:before {
	content: "\e108";
}
.icon-spotify:before {
	content: "\e109";
}
.icon-spotify-2:before {
	content: "\e10a";
}
.icon-qq:before {
	content: "\e10b";
}
.icon-instagram:before {
	content: "\e10c";
}
.icon-dropbox:before {
	content: "\e10d";
}
.icon-evernote:before {
	content: "\e10e";
}
.icon-flattr:before {
	content: "\e10f";
}
.icon-skype:before {
	content: "\e110";
}
.icon-skype-2:before {
	content: "\e111";
}
.icon-renren:before {
	content: "\e112";
}
.icon-sina-weibo:before {
	content: "\e113";
}
.icon-paypal:before {
	content: "\e114";
}
.icon-picasa:before {
	content: "\e115";
}
.icon-soundcloud:before {
	content: "\e116";
}
.icon-mixi:before {
	content: "\e117";
}
.icon-behance:before {
	content: "\e118";
}
.icon-circles:before {
	content: "\e119";
}
.icon-vk:before {
	content: "\e11a";
}
.icon-smashing:before {
	content: "\e11b";
}
/*! normalize.css v1.1.0 | MIT License | git.io/normalize */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* ---------------------------------------- */
/* ----- Red Style----- */
/* ---------------------------------------- */


body {
    background: #969088;
}

::selection {
    background: #e74c3c;
    color: white;   
}

::-moz-selection {
    background: #e74c3c;
    color: white;
}

/* ---------------------------------------- */
/* ----- Navigation ----- */
/* ---------------------------------------- */

.nav {
    background: #4d4a46;
}

.nav a {
    color: white !important;
}

.nav li:nth-child(2) a {
    background: #f1c40f;
}

.nav li:nth-child(2) a:hover, .nav li:nth-child(2).active a {
    color: #f1c40f !important;
}

.nav li:nth-child(3) a {
    background: #e67e22;
}

.nav li:nth-child(3) a:hover, .nav li:nth-child(3).active a {
    color: #e67e22 !important;
}

.nav li:nth-child(4) a {
    background: #e74c3c;
}

.nav li:nth-child(4) a:hover, .nav li:nth-child(4).active a {
    color: #e74c3c !important;
}

.nav li:nth-child(5) a {
    background: #c0392b;
}

.nav li:nth-child(5) a:hover, .nav li:nth-child(5).active a {
    color: #c0392b !important;
}

/* ---------------------------------------- */
/* ----- Resume ----- */
/* ---------------------------------------- */

/* ----- Icon Color ----- */
.ro-timeline > li .ro-icon {
    color: #e74c3c;
}

/* ---------------------------------------- */
/* ----- Skills ----- */
/* ---------------------------------------- */

.sidebar h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e74c3c;
}

.skills span {
    background: #e74c3c;
}

.skills li:nth-child(even) span {
    background: #c0392b;
}

.skills span:hover {
    background: #4d4a46 !important;
}

.rt-spanbg {
    background: #e74c3c !important;
}

/* ---------------------------------------- */
/* ----- Profile ----- */
/* ---------------------------------------- */

.p-details a:hover {
    background: #e74c3c;
    color: white;
}

/* ---------------------------------------- */
/* ----- Social Icons ----- */
/* ---------------------------------------- */

.social a:hover {
    background: #e74c3c;
    color: white;
    height: 35px;
}

/* ---------------------------------------- */
/* ----- Work ----- */
/* ---------------------------------------- */

/* ----- Filter ----- */

.gridfilter li:hover {
    color: white !important;
    background: #4d4a46;
}

.activefilter {
    background: #e74c3c !important;
    color: white;
}

/* ---------------------------------------- */
/* ----- Single Project ----- */
/* ---------------------------------------- */

.project-nav a:hover {
    background: #4d4a46;
    color: white;
}


/* ---------------------------------------- */
/* ----- Nivo Slider ----- */
/* ---------------------------------------- */

/* ----- Control Navigation ----- */

.theme-default .nivo-controlNav a {
  background: #4d4a46;
  border: 2px solid #4d4a46;
  box-shadow: inset 0 0 0 4px white;
}

.theme-default .nivo-controlNav a:hover {
  background: #e74c3c;
  border: 2px solid #e74c3c;
  box-shadow: inset 0 0 0 3px white;
}

.theme-default .nivo-controlNav a.active {
  background: #e74c3c;
  border: 2px solid #e74c3c;
  box-shadow: inset 0 0 0 2px white;
}


/* ---------------------------------------- */
/* ----- Contact ----- */
/* ---------------------------------------- */

.contact form input[type="text"]:focus, 
.contact form input[type="email"]:focus, 
.contact form textarea:focus { 
    border: 2px solid #969088;
    color: #999;
}

.contact form input[type="text"]:required:valid, 
.contact form input[type="email"]:required:valid, 
.contact form textarea:required:valid { 
    border: 2px solid #969088;
    color: #969088;
} 

.contact form .radio:hover {
    background: #4d4a46;
    color: white;
}

.contact form input[type="radio"]:checked + label {
    background: #969088;
}

.contact form .required { 
    color: #969088;
}

.contact form input[type="submit"]:hover { 
    color: #fff;
    background: #e74c3c;
    cursor: pointer;
}

/* ---------------------------------------- */
/* ----- Media Queries ----- */
/* ---------------------------------------- */

@media screen and (max-width: 767px) {

    .nav a {
        background: #e74c3c !important;
    }

    .nav li:nth-child(2) a:hover, .nav li:nth-child(2).active a,
    .nav li:nth-child(3) a:hover, .nav li:nth-child(3).active a,
    .nav li:nth-child(4) a:hover, .nav li:nth-child(4).active a,
    .nav li:nth-child(5) a:hover, .nav li:nth-child(5).active a {
        color: #e74c3c !important;
        background: white !important;
    }

    #nav-toggle {
        background: #e74c3c url("../../img/hamburger.gif") no-repeat 50% 50%;
    }
}
/* ----------------------------------------

Theme Name: Milano | Interactive Responsive HTML5 Template
Theme URL: http://www.rocketthemes.net/milano
Description: Milano | Interactive Responsive HTML5 Template
Author: rocketthemes
Author URL: http://www.rocketthemes.net
Version: 1.0

/* ---------------------------------------- */


@import url("font.css");

/* ---------------------------------------- */
/* ----- Helper Classes ----- */
/* ---------------------------------------- */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ---------------------------------------- */
/* ----- Main Style ----- */
/* ---------------------------------------- */

html {
    font-size: 0.625rem;
    height: 101%;
}

body {
    font-family: 'Open Sans', Calibri, sans-serif;
    background: #969088;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

::selection {
    background: #2ecc71;
    color: white;   
}

::-moz-selection {
    background: #2ecc71;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    position: relative;
    width: 96%;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}

/* ---------------------------------------- */
/* ----- Navigation ----- */
/* ---------------------------------------- */

.logo {
    display: none;
}

.nav {
    font-size: 0;
    background: grey;
}

.nav li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
}

.nav li:first-child {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.nav li:first-child img {
    padding-top: 0px;
}

.nav a {
    font-family: 'entypo';
    display: block;
    color: white;
    padding: 74px 0;
    font-size: 4rem;
    -webkit-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
       -moz-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
        -ms-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
         -o-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
            transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
}

.nav span {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 20px;
    margin-bottom: -20px;
    display: none;
    line-height: 0;
}

.nav a:hover span, .active span {
    display: block;
}

.nav a:hover, .active a {
    background: white !important;
    color: #16a085 !important;
    padding-top: 84px;
    margin-top: -10px;
}

.active a:hover {
    cursor: default;
}

.js #nav {
    position: relative;
}

.js #nav.closed {
    max-height: none;
}

#nav-toggle {
    display: none;
}


/* ---------------------------------------- */
/* ----- Content ----- */
/* ---------------------------------------- */

.content {
    background: #fff;
    padding: 40px;
}

.content h2 {
    text-transform: uppercase;
    padding: 0;
    line-height: 1;
    margin: 40px 0;
}

.content h2:first-child {
    margin-top: 0;
}

/* ---------------------------------------- */
/* ----- Profile ----- */
/* ---------------------------------------- */

.profile {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.p-image {
    max-height: 376px;
    margin: -40px -40px 40px;
    overflow: hidden;
}

.p-image img {
    width: 100%;
}

.p-details h2{
    margin-bottom: 0;
}

.p-details h4 {
    margin: 5px 0 15px;
}

.p-details p {
    font-size: 1.4rem;
    line-height: 1.5;
}

.p-details p:last-of-type {
    margin-bottom: 40px;
}

.p-details a {
    padding: 14px 18px;
    background: black;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    -webkit-transition: all 275ms ease-in-out;
       -moz-transition: all 275ms ease-in-out;
        -ms-transition: all 275ms ease-in-out;
         -o-transition: all 275ms ease-in-out;
            transition: all 275ms ease-in-out;
}

/* ---------------------------------------- */
/* ----- 404 Error Page ----- */
/* ---------------------------------------- */

.error {
    font-family: 'Montserrat';
    text-align: center;
}

.error span {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.error span:nth-child(1), .error span:nth-child(3) {
    font-size: 18px;
    line-height: 36px;
}

.error span:nth-child(2) {
    font-size: 120px;
    font-weight: bold;
    line-height: 100px;
}

/* ---------------------------------------- */
/* ----- Resume ----- */
/* ---------------------------------------- */

.career {
    width: 65%;
    margin-right: 4%;
    display: inline-block;
    vertical-align: top;
}

.ro-timeline {
    position: relative;
}

/* ---- Time ----- */
.ro-timeline > li .ro-time {
    position: absolute;
    display: block;
    margin-top: 16px;
}

.ro-timeline > li .ro-time span {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: black;
}

/* ---- Line ----- */
.ro-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #eee;
    left: 19%;
    margin-left: -8px;
}

/* ---- Icon ----- */
.ro-timeline > li .ro-icon {
    position: relative;
    width: 40px;
    height: 40px;
    font-family: 'entypo';
    font-size: 1.8rem;
    line-height: 40px;
    color: black;
    -webkit-font-smoothing: antialiased;
    speak: none;
    float: left;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #eee;
    text-align: center;
    left: 19%;
    margin: 5px 0 0 -25px;
}

/* ---- Text ----- */
.ro-timeline > li .ro-label {
    margin: 0 0 18px 25%;
    background: #f6f6f6;
    color: black;
    padding: 15px 15px 5px;
    font-size: 1.2rem;
    line-height: 1.8;
    position: relative;
    border-radius: 4px;
}

.ro-timeline > li:nth-child(odd) .ro-label {
    background: #f2f2f2;
}

.ro-timeline > li .ro-label h3 {
    margin: 0;
    margin-top: -8px;
    padding: 0 0 5px 0;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ro-timeline > li .ro-label span {
    float: right;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 27px;
    color: #777;
}

/* ---- Arrow ----- */
.ro-timeline > li .ro-label:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f6f6f6;
    border-width: 10px;
    top: 14px;
}

.ro-timeline > li:nth-child(odd) .ro-label:after {
    border-right-color: #f2f2f2;
}


/* ---------------------------------------- */
/* ----- Skills ----- */
/* ---------------------------------------- */

.sidebar {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.sidebar h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #2ecc71;
}

.sidebar h3 span {
    margin-right: 5px;
}

.sidebar ul {
    margin-bottom: 40px;
}

.skills li {
    width: 100%;
    background: #fafafa;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
    line-height: 30px;
    font-size: 1.2rem;
}

.skills li:last-child {
    margin-bottom: 0;
}

.skills span {
    padding-left: 3%;
    border-radius: 4px;
    display: block;
    background: #2ecc71;
    -webkit-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
       -moz-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
        -ms-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
         -o-transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
            transition: all 275ms cubic-bezier(.68,.17,.62,1.24);
}

.skills li:nth-child(even) span {
    background: #27ae60;
}

.skills span:hover {
    background: #000 !important;
    cursor: not-allowed;
}

.ratings li {
    margin-bottom: 10px;
    height: 20px;
}

.ratings h5 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.rating {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 50%;
    height: 20px;
}

.rating span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 4px 4px 0 0;
    background: #f6f6f6;
}

.rt-spanbg {
    background: #2ecc71 !important;
}

/* ---------------------------------------- */
/* ----- Social Icons ----- */
/* ---------------------------------------- */

.social {
    position: absolute;
    right: 0;
    margin-top: -60px;
    font-size: 0;
}

.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: white;
    font-size: 1.4rem;
    color: black;
    -webkit-transition: all 275ms cubic-bezier(.68,.17,.62,1.24), height 275ms ease-in;
       -moz-transition: all 275ms cubic-bezier(.68,.17,.62,1.24), height 275ms ease-in;
        -ms-transition: all 275ms cubic-bezier(.68,.17,.62,1.24), height 275ms ease-in;
         -o-transition: all 275ms cubic-bezier(.68,.17,.62,1.24), height 275ms ease-in;
            transition: all 275ms cubic-bezier(.68,.17,.62,1.24), height 275ms ease-in;
}

.social a:hover {
    background: #2ecc71;
    color: white;
    height: 35px;
}

/* ---------------------------------------- */
/* ----- Work ----- */
/* ---------------------------------------- */

.work-grid {
    font-size: 0;
    margin: 0 -40px -40px;
}

.work-grid li {
    display: inline-block;
    width: 25%;
    height: 145px;
    overflow: hidden;
}

.work-grid figure, .work-grid img {
    max-width: 100%;
}

.work-grid a {
    display: block;
    height: 145px;
    overflow: hidden;
}

.work-grid img, .work-grid div {
    -webkit-transition: all 275ms ease-in;
       -moz-transition: all 275ms ease-in;
        -ms-transition: all 275ms ease-in;
         -o-transition: all 275ms ease-in;
            transition: all 275ms ease-in;
}

.work-grid a:hover img, .work-grid div {
    -webkit-transform: scale(5);
       -moz-transform: scale(5);
        -ms-transform: scale(5);
         -o-transform: scale(5);
            transform: scale(5);
}

.work-grid a {
    position: relative;
    overflow: hidden;
}

.work-grid div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    overflow: hidden;
}

.work-grid a:hover div {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.work-grid div span {
    padding: 14px;
    border-radius: 50px;
    background: black;
    color: white;
    font-size: 2.1rem;
    line-height: 145px;
}

/* ----- Filter ----- */

.work-grid .mix{
    opacity: 0;
    display: none;
}

.fail {
    background: #f2f2f2;
    text-align: center;
    margin: 0 auto;
    margin: 0 -40px -40px;
    padding: 80px 0;
}

.fail:after {
    content: 'Custom fail message. Please try another category.';
    font-size: 1.4rem;
    color: #f22;
}

.gridfilter {
    width: 100%;
    padding-bottom: 20px; 
}

.gridfilter li {
    display: inline-block;
    padding: 8px 16px;
    background: #f2f2f2;
    margin-right: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.3rem;
    font-weight: 300;
    -webkit-transition: all 275ms ease-in-out;
       -moz-transition: all 275ms ease-in-out;
        -ms-transition: all 275ms ease-in-out;
         -o-transition: all 275ms ease-in-out;
            transition: all 275ms ease-in-out;
}

.gridfilter li:hover {
    color: white !important;
    background: black;
}

.activefilter {
    background: #2ecc71 !important;
    color: white;
}

/* ----- Swipebox ----- */

.swipebox {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}

#swipebox-slider .slide {
  background: url("../img/work/loader.gif") no-repeat center center;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}

#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#swipebox-slider .slide img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}

#swipebox-action, #swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-action {
  bottom: -50px;
}
#swipebox-action.visible-bars {
  bottom: 0;
}

#swipebox-action.force-visible-bars {
  bottom: 0 !important;
}

#swipebox-caption {
  top: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  top: 0;
}

#swipebox-caption.force-visible-bars {
  top: 0 !important;
}

#swipebox-action #swipebox-prev, 
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  background-image: url("../img/work/icons.png");
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  left: 40px;
}

#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  right: 100px;
}

#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  right: 40px;
}

#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

#swipebox-slider.rightSpring {
  -moz-animation: rightSpring 0.3s;
  -webkit-animation: rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
  -moz-animation: leftSpring 0.3s;
  -webkit-animation: leftSpring 0.3s;
}

@-moz-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}

@-moz-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}

#swipebox-overlay {
  background: black;
}

#swipebox-action, #swipebox-caption {
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

#swipebox-caption {
  color: white !important;
  font-size: 1.4rem;
  line-height: 43px;
}


/* ---------------------------------------- */
/* ----- Projects ----- */
/* ---------------------------------------- */

.projects {
    font-size: 0;
}

.projects li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 25px;
}

.projects li:nth-child(3n) {
    margin-right: 0;
}

.projects figure, .projects img {
    max-width: 100%;
}

.projects a {
    display: block;
    height: 145px;
    overflow: hidden;
}

.projects img, .projects div {
    -webkit-transition: all 275ms ease-in;
       -moz-transition: all 275ms ease-in;
        -ms-transition: all 275ms ease-in;
         -o-transition: all 275ms ease-in;
            transition: all 275ms ease-in;
}

.projects a:hover img, .projects div {
    -webkit-transform: scale(5);
       -moz-transform: scale(5);
        -ms-transform: scale(5);
         -o-transform: scale(5);
            transform: scale(5);
}

.projects a {
    position: relative;
    overflow: hidden;
}

.projects div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    overflow: hidden;
}

.projects a:hover div {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.projects div span {
    padding: 14px;
    border-radius: 50px;
    background: black;
    color: white;
    font-size: 2.1rem;
    line-height: 145px;
}

.projects figcaption h4 {
    font-size: 2rem;
    padding: 15px 0 0 0;
    margin: 0 0 5px 0;
    line-height: 1.5;
}

.projects figcaption p {
    font-size: 1.2rem;
}


/* ---------------------------------------- */
/* ----- Single Project ----- */
/* ---------------------------------------- */

.s-project h2 {
    display: inline-block;
    vertical-align: top;
    line-height: 1.4;
}

.project-nav {
    float: right;
    margin-top: -4px;
}

.project-nav span {
    margin-right: 10px;
}

.project-nav a {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.4rem;
    padding: 8px;
    text-align: center;
    line-height: 30px;
    background: #eee;
    color: black;
    border-radius: 2px;
    -webkit-transition: all 275ms ease-in-out;
       -moz-transition: all 275ms ease-in-out;
        -ms-transition: all 275ms ease-in-out;
         -o-transition: all 275ms ease-in-out;
            transition: all 275ms ease-in-out;
}

.project-nav a:hover {
    background: black;
    color: white;
}

.details {
    margin-bottom: 25px;
    font-size: 0;
}

.details div {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-right: 10%;
    font-size: 1.2rem;
    line-height: 1.8;}

.details ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.details li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.details li:last-child {
    margin-right: 0;
}

.details h4 {
    margin: 5px 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.details p {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------- */
/* ----- Nivo Slider ----- */
/* ---------------------------------------- */

.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
}

.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}


/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white; 
    filter: alpha(opacity=0); 
    opacity: 0;
}

/* The slices and boxes in the Slider */
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.nivo-box img { display: block; }


/* Caption styles */
.nivo-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 18px 12px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity:  0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing:  border-box;
}

.nivo-caption p {
    padding: 5px;
    margin: 0;
}

.nivo-caption a {
    display: inline !important;
}

.nivo-html-caption {
    display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
}

.nivo-prevNav {
    left: 0;
}

.nivo-nextNav {
    right: 0;
}

.nivo-controlNav a {
    cursor: pointer;
}

.nivo-controlNav a.active {
    font-weight: bold;
}

/* ---------------------------------------- */
/* ----- Gallery ----- */
/* ---------------------------------------- */

.ro-gallery {
    font-size: 0;
}

.ro-gallery li {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin: 0 1% 1% 0;
}

.ro-gallery li:last-child {
    margin-right: 0;
}

.ro-gallery img {
    width: 100%;
    -webkit-transition: all 275ms ease-in-out;
       -moz-transition: all 275ms ease-in-out;
        -ms-transition: all 275ms ease-in-out;
         -o-transition: all 275ms ease-in-out;
            transition: all 275ms ease-in-out;
}

.ro-gallery img:hover {
    opacity: 0.6;
}


/* ---------------------------------------- */
/* ----- Contact ----- */
/* ---------------------------------------- */

.contact {
    width: 60%;
    margin-right: 9%;
    display: inline-block;
    vertical-align: top;
}

#map {
    margin: -40px -40px 40px;
    height: 376px;
    background: #eee;
}

.contact input:focus, .contact textarea:focus {
    outline: none;
}

.contact label {
    display: inline-block;
    margin-bottom: 5px;
}

.contact form input[type="text"], 
.contact form input[type="email"], 
.contact form textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    color: #999;
    letter-spacing: 1px;
    background-color: #fff;
    border: 2px solid #eee;
    box-shadow: none;
    margin-bottom: 25px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.contact form input[type="text"]:focus, 
.contact form input[type="email"]:focus, 
.contact form textarea:focus { 
    border: 2px solid #2ecc71;
    color: #999;
}

.contact form input[type="text"]:required:valid, 
.contact form input[type="email"]:required:valid, 
.contact form textarea:required:valid { 
    border: 2px solid #2ecc71;
    color: #2ecc71;
    background: url('../img/valid-icon.svg') no-repeat;
    background-position: 98%;
} 

.contact form input[type="text"]:required:invalid, 
.contact form input[type="email"]:required:invalid, 
.contact form textarea:required:invalid {
    background: url('../img/invalid-icon.svg') no-repeat;
    background-position: 98%;
}

.contact form textarea:required:valid, 
.contact form textarea:required:invalid { 
    background-position: 98% 8px;
} 

.contact form textarea {
    font-family: 'Open Sans';
    font-weight: normal;
    resize: vertical;
    height: 100px;
} 

.contact form label {
    color: black;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
} 

.budgetrange {
    margin-bottom: 25px;
}

.contact form input[type="radio"] {
    display: none !important;
}

.contact form .radio {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 11px;
    height: 36px;
    line-height: 20px;
    background: #eee;
    padding: 8px 12px;
    margin: 10px 10px 0 0;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
           -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
             -o-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
}

.contact form .radio:hover {
    background: #000;
    color: white;
}

.contact form input[type="radio"]:checked + label {
    background: #2ecc71;
    color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #909090;
} 

input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #909090;
} 

input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #909090;
} 

input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #909090;
} 

.contact form .required { 
    color: #2ecc71;
    margin-left: 4px;
}

.contact form input[type="submit"] {
    width: 90px;
    background-color: black;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
} 

.contact form input[type="submit"]:hover { 
    cursor: pointer;
}

.contactform {
    margin-bottom: 40px;
}

.sidebar .c-data p {
    font-size: 1.6rem;
    line-height: 1.8;
}

.c-email {
    padding: 8px 14px;
    font-size: 1rem;
    border-radius: 4px;
    background: black;
    color: white;
    -webkit-transition: all 275ms ease-in-out;
       -moz-transition: all 275ms ease-in-out;
        -ms-transition: all 275ms ease-in-out;
         -o-transition: all 275ms ease-in-out;
            transition: all 275ms ease-in-out;
}

.c-email:hover {
    background: #777;
}

.success-msg {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    background: #2ecc71;
    border-radius: 4px;
}

.success-msg span {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 3rem;
    margin-bottom: 12px;
}

/* ---------------------------------------- */
/* ----- Media Queries ----- */
/* ---------------------------------------- */

@media screen and (max-width: 1023px) {

    * {
        -webkit-transform: none !important;
           -moz-transform: none !important;
            -ms-transform: none !important;
             -o-transform: none !important;
                transform: none !important;
    }

    .settings, .badge {
        display: none;
    }

    .career, .contact, .s-project, .contact .radio, .sidebar {
        width: 100%;
        margin-right: 0;
    }

    .ratings h5 {
        width: 30%;
    }

    .rating {
        width: 65%;
    }

    .ro-timeline > li .ro-time span {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 767px) {

    .logo {
        display: block;
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -1;
    }

    .container {
        margin-top: 120px;
    }

    .social {
        margin-top: -120px;
    }

    .nav li {
        width: 100%;
        height: 40px;
    }

    .nav li:first-child {
        height: auto;
        padding: 30px 0;
        font-size: 2.4rem;
        display: none;
    }

    .nav li:first-child img {
        padding: 0;
    }

    .nav a {
        font-size: 0;
        padding: 0;
        margin: 0;
        background: #16a085 !important;
    }

    .nav span {
        line-height: 40px;
        padding-top: 0;
        margin-bottom: 0;
        display: block;
    }

    .nav a:hover span, .active span {
        display: block;
    }

    .nav a:hover, .active a {
        padding: 0;
        margin: 0;
        background: white !important;
        color: black !important;
    }

    .active a:hover {
        cursor: default;
    }

    .js #nav {
        clip: rect(0 0 0 0);
        max-height: 0;
        position: absolute;
        display: block;
        overflow: hidden;
    }

    #nav.opened {
        max-height: 9999px;
    }

    #nav-toggle {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        width: 44px;
        height: 40px;
        text-indent: -9999px;
        overflow: hidden;
        background: black url("../img/hamburger.gif") no-repeat 50% 50%;
    }

    #nav,
    #nav * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #nav.opened, #nav.closed {
        width: 100%;
        display: inline-block;
    }

    .projects li {
        width: 47.5%;
    }

    .projects li:nth-child(3n) {
        margin-right: 5%;
    }

    .projects li:nth-child(2n) {
        margin-right: 0;
    }

    .work-grid li {
        width: 50%;
    }

    .ratings h5 {
        width: 40%;
    }

    .rating {
        width: 55%;
    }

    .s-project h2, .project-nav {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 15px;
    }

    .ro-timeline:before {
        display: none;
    }

    .ro-timeline > li .ro-time {
        width: 100%;
        position: relative;
        padding-bottom: 15px;
    }

    .ro-timeline > li .ro-time span {
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }

    .ro-timeline > li .ro-label {
        margin: 0 0 40px 0;
    }

    .ro-timeline > li .ro-label h3, .ro-timeline > li .ro-label span {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    .ro-timeline > li .ro-label:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #f6f6f6;
        top: -20px;
    }

    .ro-timeline > li:nth-child(odd) .ro-label:after {
        border-right-color: transparent;
        border-bottom-color: #f2f2f2;
    }

    .ro-timeline > li .ro-icon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0;
    }

}

@media screen and (max-width: 479px) {

    .projects li {
        width: 100%;
        margin-right: 0;
    }

    .work-grid li {
        width: 100%;
    }

}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    #nav-toggle {
    background-image: url("../img/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
    }
}
