<aside class="sidebar">
    <h2>and other things...</h2>

    <h3 class="test"><span class="icon-brush"></span>Code Sample</h3>
  
      <h4><a href="https://github.com/vajradog/t" class="icon-github"> Current site source code</a></h4><h5>
      <font color="grey"><em><li>User Authentication</li>
      <li>MVC without generators</li>
      <li>File Uploads (Paperclip/S3)</li>
      <li>Pagination</li>
      <li>Authorization</li></em></font></h5><br/>

    <h3 class="test"><span class="icon-briefcase"></span>Other samples</h3>
      <h4><a href="https://github.com/vajradog" class="icon-github"> Github Account</a></h4>
      <h4><%= link_to " Portfolio", portfolios_path, class: "icon-github" %></h4><br/>

    <h3 class="test"><span class=" icon-phone"></span>References</h3>
      <font color="grey"><h5>Francesco Malatesta, <em>CEO</em><br/><br/>
        Mediakite Corp.<br/>
        247 W 30th St, New York, NY 10001<br/>
        Phone: (212) 947-4703<br/><br/>
        <em>More reference available upon request.</em>
    </h5></font><br/>
  


    <h3 class="test"><span class="icon-heart"></span>Things I love to do</h3>
      <font color="grey"><h5>Think of different ideas all the time</h5>
      <h5>Figure out "how did they do it ?"</h5>
      <h5>Ponder "how can I make this better ?"</h5>
      <h5>Go camping once in a while</h5>
      <h5>Traveling to rural areas</h5>
      <h5>Cooking</h5>
      <h5>Playing flight simulator</h5>
      </font><br/>

 
    <h3 class="test"><span class="icon-thumbs-up"></span>I support</h3>
      <h5><a href="http://studentsforafreetibet.org">Students for a Free Tibet</a></h5>
      <h5><a href="http://www.redcross.org/">American Red Cross</a></h5>
      <h5><a href="http://en.wikipedia.org/wiki/Open-source_movement">Open Source Movement</a></h5>
      <h5><a href="http://www.maitinepal.org/">Maiti: Against Trafficking Of Children & Women</a></h5><br/>

      

  <h3 class="test"><span class="icon-tools"></span>Other skills</h3>
    <ul class="skills">
      <li><span data-skill="92">Final Cut Pro</span></li>
      <li><span data-skill="92">Avid</span></li>
      <li><span data-skill="96">Photoshop</span></li>
      <li><span data-skill="84">InDesign</span></li>
      <li><span data-skill="85">WordPress</span></li>
      <li><span data-skill="81">Dreamweaver</span></li>
      <li><span data-skill="81">3D StudioMax</span></li>
    </ul>
  
  </aside>
		<!-- Sidebar End -->