<h2>Experience</h2>
    <ul class="ro-timeline">
    <li>
      <div class="ro-time"><span>2010-2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Founder & Developer<span>Vajra Communications, LLC</span></h3>
        <p><a href="http://vajratv.com">Website</a><br>
        Managed outreach to more than 800 Buddhist centers around the world. <br>
        Raised funds to setup the company. <br>
        Architect, built and maintained VajraTV, an integrated platform to provide premium Buddhist video content across the internet on Computers, Mobile Devices and TV (via ROKU) enabling viewers to access 24/7 scheduled, live and VOD contents. <br>
        Built repositories and web services to connect with Amazon Web Services (S3 and EC2). <br>
        Built recurring payment membership with authentication and content authorization. <br>
        Maintained MySQL databases. <br>
        Initiated and organized annual Buddhist teachings in New York by world renowned Buddhist masters including Sogyal Rinpoche, the author of the best-selling book The Tibetan Book of Living and Dying. <br>
        Hired and managed consultants, interns and volunteers. <br>
        Developed preliminary long term plan for content partners, teachers and members. <br>
        </p>
       </div>
    </li>

    <li>
      <div class="ro-time"><span>2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Film Editor<span> Leica Camera promotional video</span></h3>
        <p>Worked with reknowned photographer Ralph Gibson and musician Andy Summers to streamline the vision of the film. <br>
          Edited the film at MediaKite Studios NYC and sent the final cut to Leica.</p>
      </div>
    </li>

    <li>
      <div class="ro-time"><span>2013-2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Founder & Web Developer<span>The Conserve Tibet Project</span></h3>
        <p><a href="http://conservetibet.org/">Website</a><br>
        Raised funds for the project from supporters including The Shelly & Donald Rubin Foundation <br>
        Researched and located several at-risk audio and video contents that are of historical and cultural importance to the Tibetan People and their identity. <br>
        Sought permission and negotiated deals with content owners. <br> 
        Acquired and digitized the contents <br>
        Created web repositories including the website, storage at Amazon S3 and Soundcloud integration.
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2013</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>WebApp Developer<span>Oneworld Digital Security Exchange</span></h3>
        <p>Planned the mobile WebApp for<a href="http://highpeakspureearth.com/">High Peaks Pure Earth</a>, a blog featuring translations of the International Women of Courage Award winning Tibetan dissident Tsering Woeser. <br>
        Developed and maintained the WebApp.
        </p>
      </div>
    </li>

    <li>
      <div class="ro-time"><span>2013-2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Advisor & Web Developer<span>The Himalayan Elders Project</span></h3>
        <p><a href="http://www.himalayaneldersproject.org/">Website</a> <br>
        Built a resourceful website for the project <br>
        Initiated twice a week elders gathering and organized Yoga classes, religious courses, film nights and so forth.
        </p>
      </div>
    </li>

    <li>
      <div class="ro-time"><span>2013</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Web Developer<span>TypistMonk</span></h3>
        <p><a href="http://www.typistmonk.com/">Website</a> <br>
        Created a simple, easy and quick way to edit a sample letter or write a new one within the browser and print it with ease.
        </p>
      </div>
    </li>

    <li>
      <div class="ro-time"><span>2007 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Graphic Designer<span>The Tibet Fund</span></h3>
        <p><a href="http://tibetfund.org">Website</a> <br>
          Designed official annual reports (in the form of magazine) for the Tibet Fund, the primary funding organization for Tibetans in Exile.</p>
      </div>
    </li>

    <li>
      <div class="ro-time"><span>2009-2011</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Founder & App Developer<span>BuddhistApps</span></h3>
        <p><a href="http://buddhistapps.com/">Website</a> <br>
          Planned, built and distributed 4 Buddhist themed apps using HTML, CSS, jQuery and PhoneGap. <br>
          Provided support for 30,000+ customers who had downloaded the apps through Appstore and Google Play.</p>
       </div>
    </li>

    <li>
      <div class="ro-time"><span>2007 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Chief Technology Officer<span>MediaKite Corp.</span></h3>
        <p><a href="http://mediakite.com">Website</a> <br>
         Monitored technology and social trends that could impact the company. <br>
         Communicated the company’s technology strategy to partners, management, investors and employees. <br>
         Tested upcoming web, live video-streaming and video editing/encoding softwares.</p>
      </div>
    </li>

    
    <li>
      <div class="ro-time"><span>2007-2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>News Cameraman & Video Editor<span>Various TV networks</span></h3>
        <p>As a NYPD Accredited Press cameraman, worked for several National TV stations and news gathering organizations including RAI, AP, LA7, EuroVision, 7News, TVNZ, SKY TG24 and France 2.</p>
       </div>
    </li>

    <li>
      <div class="ro-time"><span></span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Developer<span>Conservancy for Trans-Himalayan Art & Culture</span></h3>
        <p><a href="http://www.himalayanculture.org/">Website</a> <br>
          As a board member: participated in the preliminary long term plan for education program for remote Himalayan regions working with local, regional and national partners. <br>
          Built the official website for the organization.</p>
       </div>
    </li>

    <li>
      <div class="ro-time"><span></span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Web Developer<span>The Tibet Fund</span></h3>
        <p><a href="http://youngtibet.com/tfmedia">Respository site</a> <br>
          Created a private media repository for Tibet Fund. <br>
          Trained relevant Tibet Fund Staffs to use the web repository.</p>
       </div>
    </li>


    <li>
      <div class="ro-time"><span>2003 - 2004</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Web producer & Developer<span>Bodygalo Community News</span></h3>
        <p>Built the official website and trained staffs. <br>
          Produced contents for the site.</p>
       </div>
    </li>
    

    <li>
      <div class="ro-time"><span>2002 - 2012</span></div>
      <div class="ro-icon icon-heart"></div>
    <div class="ro-label">
        <h3>Developer, Consultant & Designer<span> Probono/Freelance</span></h3>
        <p>In the span of past 10 years, I’ve helped numerous NGO's, community initiatives, religious organizations and activist groups which are not mentioned in this resume. Most of the work were pro-bono and included developing websites, creating promotional designs including but not limited to posters, logos, flyers etc. and/or producing video campaigns.</p>
       </div>
    </li>

    </ul>