<h2>My education</h2>
    <ul class="ro-timeline">
    <li>
      <div class="ro-time"><span>2012 - 2014</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>Ruby & ROR<span>Codeschool, Railscast, Thoughtbot & others</span></h3>
        <p>Intensive online courses and peer programming workshops focused on learning Ruby on Rails.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2004</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>Film Directing<span>New York Film Academy</span></h3>
        <p>New York Film Academy - School of Film and Acting (NYFA) is an international film school and acting school based in New York City.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2001-2002</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>3D Animation<span>Square Pixel, India.</span></h3>
        <p>3D character modeling, rendering and animation techniques in 3D Studio Max.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2000-2001</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>Web Development<span>Combit Tech, India.</span></h3>
        <p>Combit was based in New Delhi, India. Combit focused primarily in web development and design tools.</p>
      </div>
    </li>
    </ul>