<h2>My career</h2>
    <ul class="ro-timeline">
    <li>
      <div class="ro-time"><span>2010 - 2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Founder & Developer<span>Vajra Communications, LLC</span></h3>
        <p><a href="http://vajratv.com">VajraTV</a> is a leading new media company providing premium Buddhist video content on an integrated platform across the Internet. VajraTV’s mission is to make the timeless wisdom of Buddha easily accessible to anyone, anywhere and anytime.</p>
       </div>
    </li>
     <li>
      <div class="ro-time"><span>2013 - 2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Project lead & Developer<span>CTP</span></h3>
        <p>Funded by the Shelly & Donald Rubin Foundation, <a href="http://www.conservetibet.org/">the Conserve Tibet Project (CTP)</a> is an ongoing effort to restore at-risk audio and video materials that are of historical and cultural importance to the Tibetan people and their identity.. </p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Developer<span>ODYSSEY: Oneworld Digital Security Exchange</span></h3>
        <p>Developed WebApp for a popular dissisent: <a href="http://highpeakspureearth.com/">High Peaks Pure Earth.</a></p>

        <p><a href="http://odse.us/">The OneWorld Digital Security Exchange</a> (ODSE aka “Odyssey”) is a partnership of several non-governmental organisations, that develops and deploys new technology, training, and education tools to enhance online security for communities facing extreme repression. </p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2007 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>CTO<span>MediaKite Corp.</span></h3>
        <p>Based in NY, <a href="http://mediakite.com">Mediakite</a> provides production and post-production services to the broadcast and video community. </p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2010 - 2011</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Founder & Developer<span>BuddhistApps.</span></h3>
        <p><a href="http://buddhistapps.com/">BuddhistApps</a> was started with the clear motivation to benefit others by bringing the wisdom of Buddha on mobile devices. BuddhistApps are used by Buddhist practitioners and students world-wide.</p>
       </div>
    </li>
     <li>
      <div class="ro-time"><span>2004 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Developer, Consultant & Designer<span> Probono/Freelance</span></h3>
        <p>Helped numerous NGO's, community initiatives, religious organisations and activist groups which are not mentioned in this resume.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2005 - 2006</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Video Editor<span>Queens Public Television Network.</span></h3>
        <p></p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2003 - 2004</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Producer<span>Bodgyalo, Tibetan News Network</span></h3>
        <p>Based in New Delhi, India; Bodygyalo, owned by Sumico, was the first Tibetan monthly video news. Bodgyalo was distributed in DVD format amongst the Tibetan diaspora around the world.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2002 - 2003</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>3D Animation Intern<span>Moving Picture Company, India.</span></h3>
        <p><a href="http://www.mpcindia.com/">Moving Picture Company</a> is a boutique production house based in New Delhi, India.</p>
       </div>
    </li>
    </ul>