<h2>My career</h2>
    <ul class="ro-timeline">
    <li>
      <div class="ro-time"><span>2010 - 2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Founder & Developer<span>Vajra Communications, LLC</span></h3>
        <p><a href="http://vajratv.com">VajraTV's</a> mission is to make the timeless wisdom of Buddha easily accessible to anyone, anywhere and anytime. I started the company, developed the web app from scratch, negotiated and made deals with content providers and also integrated the contents into a ROKU channel. The website is membership based with various subscription plans available.</p>
       </div>
    </li>
     <li>
      <div class="ro-time"><span></span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Project lead & Developer<span>CTP</span></h3>
        <p>Funded by the Shelly & Donald Rubin Foundation, the<a href="http://www.conservetibet.org/"> Conserve Tibet Project (CTP)</a> restores at-risk audio and video materials that are of historical and cultural importance to the Tibetan people and their identity. As the project leader I coordinated with advisors to search and identify at-risk contents, acquire them, digitize and store them in physical and cloud repositories. I developed the website, it now streams the content on demand.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span></span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Developer<span>ODYSSEY: Oneworld Digital Security Exchange</span></h3>
        <p><a href="http://odse.us/">The OneWorld Digital Security Exchange</a> (ODSE aka “Odyssey”) is a partnership of several non-governmental organisations, that develops and deploys new technology, training, and education tools to enhance online security for communities facing extreme repression. I developed a mobile web app for a popular dissident which is the mobile version of the site <a href="http://highpeakspureearth.com/">High Peaks Pure Earth.</a></p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2007 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>CTO<span>MediaKite Corp.</span></h3>
        <p>Based in NY, <a href="http://mediakite.com">Mediakite</a> provides production and post-production services to the broadcast and video community. I supervised and worked for a full overhaul of all the websites. I was responsible for purchasing softwares and supervising the live studio. As a professional cameraman and editor, I worked as a NYPD accredited media person.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2004 - 2012</span></div>
      <div class="ro-icon icon-heart"></div>
    <div class="ro-label">
        <h3>Developer, Consultant & Designer<span> Probono/Freelance</span></h3>
        <p>In the span of past 10 years, I’ve helped numerous NGO's, community initiatives, religious organizations and activist groups which are not mentioned in this resume. Most of the work were pro-bono and included developing websites, creating promotional designs including but not limited to posters, logos, flyers etc. and producing video campaigns.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span></span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Founder & Developer<span>BuddhistApps.</span></h3>
        <p><a href="http://buddhistapps.com/">BuddhistApps</a> was started with the one-pointed mission of benefitting others by bringing the wisdom of Buddha on mobile devices. I designed and developed four apps for iPhone and Android devices. I was responsible for development to deployment of these apps.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2005 - 2006</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Video Editor<span>Queens Public Television Network.</span></h3>
        <p>Queens Public Television Network is a private company that provides local video services in Queens, NY. I worked as a full time video editor.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2003 - 2004</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Producer & Editor <span>Bodgyalo, Tibetan News Network</span></h3>
        <p>Based in New Delhi, India; Bodygyalo was the first Tibetan monthly video news. As the producer   and editor of Bodgyalo, I coordinated with various departments to prepare news segments, I arranged interviews and live-in calls. I was also the principal video editor of the entire program, which was then distributed in DVD format amongst the Tibetan diaspora around the world.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2002 - 2003</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>3D Animation Intern<span>Moving Picture Company, India.</span></h3>
        <p><a href="http://www.mpcindia.com/">Moving Picture Company</a> is a boutique production house based in New Delhi, India. As an intern I learned how to model, render and animate 3D characters. I took deep interest in environment staging and lighting.</p>
       </div>
    </li>
    </ul>