<%= render 'pages/googlemap'%>

<section class="content">
  <div id="map"></div>
    <h2>Contact</h2>
    <strong>Thupten Nyima</strong><br>
    6115 97 St<br>
    Apt 1K Rego Park<br>
    New York 11374      </p>
    <p class ="icon-phone"> 917 657 7789 | <strong>E-Mail Contact:</strong>
        <a class="c-email" href="mailto:vajradog@gmail.com">vajradog@gmail.com</a>
    </p>
				
  </div>
</section>
