<section class="content">
  <article class="p-details profile">
    <h2>Thupten Nyima</h2>
    <h4>Application for apprenticeship opportunity at Thoughtbot in NYC</h4>

    <p>I initially learned about the Thoughtbot Boston apprenticeship and I so hoped that Thoughbot could come to NYC. I want to join Thoughtbot because I want to learn from the best. Thoughtbot being one of the most respected Rails consulting firms in the world, I was overjoyed to find out recently that the opportunity was now available and decided to apply right away. I truly appreciate your contribution to the open source community and It will be an honor to learn and grow in a company that I so admire and respect.</p>

    
    <p>My name is Thupten Nyima, born and grew up as a Tibetan refugee in India. In 2004, I immigrated to the United States and have been settled in New York City since. I have been developing web applications for the past decade and have worked with numerous NGOs and private companies in providing solutions for their web development needs and video/graphic campaigns. For the last two years, I have dived deeply into and have fallen in love with Ruby and Ruby on Rails.</p>

    <p>Due to the lack of any web presence for Tibetan NGOs around 2001, I pushed myself hard and learned basic web development and designs (HTML, CSS, Photoshop, dreamweaver and other tools including Microsoft frontpage). I built websites continuously and trained several others to do so, some of them are still serving Tibetan establishments in India. So far, I have developed websites for activist groups, international campaigns, dissidents, charitable causes, religious centers and community projects.</p>
    
    
    <p>Pursuing my fancy for filmmaking, I studied at the New York Film Academy in 2004. After graduation, I worked at a TV production studio where I had the opportunity to work on numerous documentary films and national TV channels. However, I never deviated from my love for web application development and continued building them pro-bono for social causes, which I enjoy tremendously.</p>

    <p>With the iPhone came the most extraordinary opportunity to create and distribute applications seamlessly across the globe. I wanted to join the revolution and contribute whatever I can. I started learning app development via PhoneGap, NimbleKit and so forth and created few apps. My apps have been used by Buddhists in the west to help their friends and family members in their last stages of life by bringing peace through these audio teachings and specific prayers (compensating for traditional way where monks gather to pray by the dying person). That is what I believe is the power of technology.</p>

    <p>In 2010, I founded and developed VajraTV: Buddhist Television Network which distributes video contents on various platforms including ROKU. The company is running smoothly and is now handled by my wife.</p>

    <p>Around 2012, I made a decision to take a leap of faith. I married my girlfriend, quit job and have lived on a very strict budget devoting full time in studying web development with a laser-like focus on Ruby and Ruby on Rails. I’ve read anything I could find on the subject, joining any online course that looked reasonable (I joined codeschool, tutspremium, railscast and learn.thoughtbot premium). I’ve practiced everyday, built sample applications and did all I could to prepare myself. </p>

    <p>The apprentice opportunity at Thoughtbot will lay a strong foundation of Ruby on Rails  and code development culture for me. I want to work hard, learn, contribute and wish to be a part of the Thoughbot team. I am a humble, compassionate, persistent, and a dependable person.</p>
    

    <p>Thank you very much for your time. Please let me know if I can join the program, I would really love to.</p>

    <p>Warm regards,</p>
    <p>Thupten Nyima</p>
  </article>		

</section>