<section class="content">
  <article class="p-details profile">
    <h2>Thupten Nyima</h2>
    <h4>Webdesigner &amp; Web Developer from NYC</h4>
    <p>Hi! My name is Thupten, I'm a creative designer and developer fr    Melbourne. I enjoy creating eye candy solutions for web and mobi    applications. I'd love to work on yours, too :)</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliqua    deserunt, a, quidem provident ipsam eveniet doloremque perferendis ani    veniam temporibus illo delectus inventore expedita sapiente amet nihil e    sequi. Molestiae, unde, harum, dicta perferendis nesciunt quae nemo c    mollitia aliquam similique voluptate tenetur pariatur. Reiciendis!</p>
    <a href="work.html">View my portfolio</a>
    <a href="contact.html">Contact me now</a>
  </article>		

</section>