<section class="content">
  <article class="p-details profile">
    <h2>Thupten Nyima</h2>
    <h4>Generalist, life-long learner, good listener.</h4>

    <p>My name is Thupten Nyima, born and raised as a Tibetan refugee in India. In 2004, I immigrated to the United States and have been settled in New York City since. I have been developing web applications for the past decade and have worked with numerous NGOs and private companies in providing solutions for their web development needs and video/graphic campaigns. For the last two years, I have dived deeply into and have fallen in love with Ruby and Ruby on Rails. </p>

    <p>Due to the lack of any web presence for Tibetan NGOs around 2001, I pushed myself hard and learned basic web development and designs. I built websites continuously and trained several others Tibetans to do so, some of them are still serving Tibetan establishments in India. So far, I have developed websites for activist groups, international campaigns, dissidents, charitable causes, religious centers, community associations and private companies. </p>

    <p>Pursuing my fancy for filmmaking, I studied at the New York Film Academy in 2004. After graduation, I worked at a TV production studio where I had the opportunity to work on numerous documentary films and national TV channels. However, I never deviated from my love for web application development and continued building them pro-bono for social causes, which I enjoy tremendously. </p>

    <p>With the iPhone came the most extraordinary opportunity to create and distribute applications seamlessly across the globe. I wanted to join the revolution and contribute whatever I can. I started learning mobile app development using tools like PhoneGap and created few apps. My apps have been used by Buddhists around the world, in many situations such as to help their friends and family members in their last stages of life by bringing peace through these audio teachings and specific prayers in the apps (compensating for traditional way where monks gather to pray by the dying person). </p>

    <p>In 2010, I started and developed VajraTV: Buddhist Television Network which distributes video contents on various platforms including ROKU. The company is running smoothly and is now handled by my wife. </p>

    <p>Around 2012, I made a decision to quit my job and have since lived on a very strict budget devoting full time in studying web development with complete focus on Ruby and Ruby on Rails. I’ve read anything I could find on the subject, joining any workshops and online course that looked reasonable. I’ve practiced everyday, built sample applications and did all I could to prepare myself. </p>

    <p>Thank you for taking time and interest in visiting this mini-site. Please browse through the resume and portfolio pages.</p>

    <p>Warm regards,</p>
    <p>Thupten Nyima</p>
    <a href="http://www.vajradog.com">Personal Blog</a>
  </article>		

</section>