<section class="content">
  <article class="p-details profile">
    <h2>Thupten Nyima</h2>
    <h4>Application for apprentice opportunity with Thoughtbot in NYC</h4>
    


    <p>Thoughtbot is one of the most respected Rails consulting firms in the world, it’s contribution to the open source community is a testimony of it’s commitment to improve the tech community and ultimately the world. It will be amazing to learn and grow in a company that I so admire and respect.  An apprentice opportunity at thoughtbot will not only jumpstart my career but will change my life completely, please let me explain.</p>
    
    <p>My name is Thupten Nyima, born and grew up as a Tibetan refugee in India. In 2004, I immigrated to the United states and have been settled in New York City since. Being in a refugee school, I was introduced to computer late in my school life.</p>

    <p>Fast forward to now, I have been developing web applications for the past decade and have worked with numerous NGOs and private companies in providing solutions for their web development needs and video/graphic campaigns. For the last two years I have dived deeply into and have fallen in love with Ruby and Ruby on Rails.</p>
    
    <p><em>I am a fast learner</em></p>
    
    <p>Due to the lack of any web presence for Tibetan NGOs around 2001, I pushed myself hard and learned basic web development and designs (HTML, CSS, Photoshop, dreamweaver and other tools including Microsoft frontpage). I built websites continuously and trained several others to do so, some of them are still serving Tibetan establishments in India. So far, I have developed websites for activist groups, international campaigns, dissidents, charitable causes, religious centers and community projects.
    </p>

    <p>Pursuing my fancy for filmmaking, I later studied filmmaking at the New York Film Academy. After graduation, worked at a TV production studio where I had the opportunity to work on numerous documentary films. While there, I also worked as a NYPD accredited press cameraman & editor for 7 years. In this position, I have worked for major Italian National TV channels, documentary films such as Shortcut to Nirvana, Fire Under the Snow, Last Jews of Libya and produced the DVD for “The heart of change” featuring His Holiness the Dalai Lama.</p>

    <p>However, I never deviated from my love for web application development and continued building them pro-bono for social causes, which I enjoyed tremendously.</p>

    <p>With the iPhone came the most extraordinary opportunity in the form of appstore, to create and distribute applications seamlessly across the globe. I wanted to join the revolution and contribute whatever I can. I started learning app development via PhoneGap, NimbleKit and so forth and started my own little company called buddhistapps.com.<br/> 
    	&nbsp; &nbsp; &nbsp; <strong>It is my belief that sometimes it doesn’t really matter how much you know, what matters is what you do with what you already know.</strong> So far, I have created 4 apps which has been quite popular among Buddhist users, these apps are very simple with text and audio prayers on loop, yet they have been used by Buddhists in the west to help their friends and family members in their last stages of life by bringing peace through these audio teachings and specific prayers (compensating for traditional way where monks gather to pray by the dying person). That is what I believe is the power of technology. </p>

    <p>In 2010, I founded and developed VajraTV: Buddhist Television Network which distributes video teachings on various platforms including ROKU. The company is running smoothly and is now handled by my wife.</p>

    <p>Around 2012, I made a decision to take a leap of faith. I married my girlfriend, quit job and have lived on a very strict budget devoting full time in studying web development with laser focus on Ruby and Ruby on Rails. I read anything I could find on the subject, joining any online course that looked reasonable (I joined codeschool, tutspremium, rails cast and learn.thoughtbot premium), practiced everyday, built sample applications and did all I could to prepare myself. </p>

    <p>The apprentice opportunity at Thoughtbot will empower, equip and help me in achieving my goals and helping others. I am humble, compassionate, persistent, and dependable. I want to work hard, learn and make a difference not just in my life but for others as well. Please let me know if I can join the program, I would really love to.</p>
    <p>Warm regards,</p>
    <p>Thupten Nyima</p>
  </article>		

</section>