<section class="content">
  <article class="career">
    <h2>My career</h2>
    <ul class="ro-timeline">
    <li>
      <div class="ro-time"><span>2010 - 2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Founder & Developer<span>Vajra Communications, LLC</span></h3>
        <p><a href="http://vajratv.com">VajraTV</a> is a leading new media company providing premium Buddhist video content on an integrated platform across the Internet. VajraTV’s mission is to make the timeless wisdom of Buddha easily accessible to anyone, anywhere and anytime.</p>
       </div>
    </li>
     <li>
      <div class="ro-time"><span>2013 - 2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Project lead & Developer<span>CTP</span></h3>
        <p>Funded by the Shelly & Donald Rubin Foundation, <a href="http://www.conservetibet.org/">the Conserve Tibet Project (CTP)</a> is an ongoing effort to restore at-risk audio and video materials that are of historical and cultural importance to the Tibetan people and their identity.. </p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2014</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>Developer<span>ODYSSEY: Oneworld Digital Security Exchange
</span></h3>
        <p>Developed WebApp for a popular dissisent: <a href="http://highpeakspureearth.com/">High Peaks Pure Earth.</a></p>

        <p><a href="http://odse.us/">The OneWorld Digital Security Exchange</a> (ODSE aka “Odyssey”) is a partnership of several non-governmental organisations, that develops and deploys new technology, training, and education tools to enhance online security for communities facing extreme repression. </p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2007 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
      <div class="ro-label">
        <h3>CTO<span>MediaKite Corp.</span></h3>
        <p>Based in NY, <a href="http://mediakite.com">Mediakite</a> provides production and post-production services to the broadcast and video community. </p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2010 - 2011</span></div>
      <div class="ro-icon icon-briefcase"></div>
	  <div class="ro-label">
        <h3>Founder & Developer<span>BuddhistApps.</span></h3>
        <p><a href="http://buddhistapps.com/">BuddhistApps</a> was started with the clear motivation to benefit others by bringing the wisdom of Buddha on mobile devices. BuddhistApps are used by Buddhist practitioners and students world-wide.</p>
       </div>
    </li>
     <li>
      <div class="ro-time"><span>2004 - 2012</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Developer, Consultant & Designer<span> Probono/Freelance</span></h3>
        <p>Helped numerous NGO's, community initiatives, religious organisations and activist groups which are not mentioned in this resume.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2005 - 2006</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Video Editor<span>Queens Public Television Network.</span></h3>
        <p></p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2003 - 2004</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>Producer<span>Bodgyalo, Tibetan News Network</span></h3>
        <p>Based in New Delhi, India; Bodygyalo, owned by Sumico, was the first Tibetan monthly video news. Bodgyalo was distributed in DVD format amongst the Tibetan diaspora around the world.</p>
       </div>
    </li>
    <li>
      <div class="ro-time"><span>2002 - 2003</span></div>
      <div class="ro-icon icon-briefcase"></div>
    <div class="ro-label">
        <h3>3D Animation Intern<span>Moving Picture Company, India.</span></h3>
        <p><a href="http://www.mpcindia.com/">Moving Picture Company</a> is a boutique production house based in New Delhi, India.</p>
       </div>
    </li>
    </ul>

    <h2>My education</h2>
    <ul class="ro-timeline">
    <li>
      <div class="ro-time"><span>2012 - 2014</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>Ruby & ROR<span>Codeschool, Railscast, Thoughtbot & others</span></h3>
        <p>Intensive online courses and peer programming workshops focused on learning Ruby on Rails.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2004</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>Film Directing<span>New York Film Academy</span></h3>
        <p>New York Film Academy - School of Film and Acting (NYFA) is an international film school and acting school based in New York City.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2001-2002</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>3D Animation<span>Square Pixel, India.</span></h3>
        <p>3D character modeling, rendering and animation techniques in 3D Studio Max.</p>
      </div>
    </li>
    <li>
      <div class="ro-time"><span>2000-2001</span></div>
      <div class="ro-icon icon-graduation"></div>
      <div class="ro-label">
        <h3>Web Development<span>Combit Tech, India.</span></h3>
        <p>Combit was based in New Delhi, India. Combit focused primarily in web development and design tools.</p>
      </div>
    </li>
    </ul>

  </article>
		<!-- Timeline End -->

  <aside class="sidebar">
    <h2>and other things...</h2>

    <h3 class="test"><span class="icon-brush"></span>Code Sample</h3>
  
      <h4><a href="https://github.com/vajradog/t" class="icon-github"> Current site source code</a></h4><h5>
      <font color="grey"><em><li>User Authentication</li>
      <li>MVC without generators</li>
      <li>File Uploads</li>
      <li>Pagination</li>
      <li>Authorization</li></em></font></h5><br/>

    <h3 class="test"><span class="icon-briefcase"></span>Other samples</h3>
      <h4><a href="https://github.com/vajradog" class="icon-github"> Github Account</a></h4>
      <h4><%= link_to " Portfolio", portfolios_path, class: "icon-github" %></h4><br/>

    <h3 class="test"><span class=" icon-phone"></span>References</h3>
      <font color="grey"><h5>Francesco Malatesta, <em>CEO</em><br/><br/>
        Mediakite Corp.<br/>
        247 W 30th St, New York, NY 10001<br/>
        Phone: (212) 947-4703<br/><br/>
        <em>More reference available upon request.</em>
    </h5></font><br/>
  


    <h3 class="test"><span class="icon-heart"></span>Things I love to do</h3>
      <font color="grey"><h5>Think of different ideas all the time</h5>
      <h5>Figure out "how did they do it ?"</h5>
      <h5>Ponder "how can I make this better ?"</h5>
      <h5>Go camping once in a while</h5>
      <h5>Traveling to rural areas</h5>
      <h5>Cooking</h5>
      <h5>Playing flight simulator</h5>
      </font><br/>

 
    <h3 class="test"><span class="icon-thumbs-up"></span>I support</h3>
      <h5><a href="http://studentsforafreetibet.org">Students for a Free Tibet</a></h5>
      <h5><a href="http://www.redcross.org/">American Red Cross</a></h5>
      <h5><a href="http://en.wikipedia.org/wiki/Open-source_movement">Open Source Movement</a></h5>
      <h5><a href="http://www.maitinepal.org/">Maiti: Against Trafficking Of Children & Women</a></h5><br/>

      

  <h3 class="test"><span class="icon-tools"></span>Other skills</h3>
    <ul class="skills">
      <li><span data-skill="92">Final Cut Pro</span></li>
      <li><span data-skill="92">Avid</span></li>
      <li><span data-skill="96">Photoshop</span></li>
      <li><span data-skill="84">InDesign</span></li>
      <li><span data-skill="85">WordPress</span></li>
      <li><span data-skill="81">Dreamweaver</span></li>
      <li><span data-skill="81">3D StudioMax</span></li>
    </ul>
  
  </aside>
		<!-- Sidebar End -->

 </section>
	<!-- Content End -->

</div>
<!-- Container End -->