<section class="content">
  <article class="career">
    <%= render 'pages/resumecareer'%>
    <%= render 'pages/resumeeducation'%>
  </article>
    <%= render 'pages/resumesidebar'%>
 </section>
</div>
