<div class="social">
  <a href="http://github.com/vajradog" class="icon-github" title="Github"></a>
  <a href="http://facebook.com/vajradog" class="icon-facebook" title="Facebook"></a>
  <a href="http://vajradog.com" class="icon-leaf" title="YoungTibet"></a>
  <a href="https://plus.google.com/+ThuptenChakrishar" class="icon-googleplus" title="Googleplus"></a>
  <a href="http://twitter.com/vajradog" class="icon-twitter" title="Twitter"></a>

</div>